
body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#form {
  background: #29383e;
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  
}

#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
  background-color: #4c585c;
  color: white;
}
#input:hover{
  background-color: #444; 
}
#input:focus {
  outline: none;
}

#form>button {
  background: #00b2a0;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}
#form>button:hover {
  background-color: #00cf6d; 
  transform: scale(1.2);}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages>li {
  padding: 0.5rem 1rem;
border-radius: 15px;
color: white;
margin: 10px;
  
}
#name{
  background: #29383e;
color: white;
}
#name:hover {
  background-color: #3a5a64; 
}
  
#messages>li:nth-child(odd) {
  background: #1d2e36;
  color: white;
}
